* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 8px;
}

body {
  background-image: linear-gradient(120deg, #3f1eeb, #3f1eeb);
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  align-items: center;
  font-size: 2rem;
}

header .title-page {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: #f3f3f3;
}

header form .address-input {
  border: none;
  border-radius: 8px;
  width: 300px;
  padding: 8px;
  outline: none;
  font-size: 1.1rem;
}

header form .search-button {
  border: none;
  border-radius: 8px;
  padding: 8px;
  outline: none;
  font-size: 1.1rem;
  background-color: #ffffff;
  color: #b9b9b9;
}

header form .search-button:hover {
  background-color: #ebebeb;
  transition: ease-in 0.1s;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  width: 100%;
  max-width: 1200px;
  height: 600px;
  margin: 0 auto;
}

/*         Results Styles           */

.container .results-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 600px;
  background-color: #fafafa;
  border-radius: 8px;
}

.container .results-container .results-msg-wall {
  height: 600px;
  width: 100%;
  background-color: #fafafa;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.container .results-container .results-msg-wall.disabled {
  animation-name: animation-fade-out;
  animation-duration: 1s;
  opacity: 0;
}

.container .results-container .results-msg-wall i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: #3f1eeb;
}

.container .results-container .results {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  padding: 1rem 3rem;
  color: #333333;
  overflow-y: scroll;
}

.container .results-container .results .result-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  background-color: #ffffff;
  animation-name: animation-fade-in;
  animation-duration: 2s;

  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.container .results-container .results .result-card.choosed {
  background-color: #9febe2;
}

.result-card .address-formatted {
  font-weight: 500;
  margin-bottom: 1rem;
}

.container .results-container .results .result-card.choosed .button-show {
  opacity: 0.5;
  background-color: #888888;
  cursor: not-allowed;
}

.container .results-container .results .result-card .button-show {
  padding: 8px 16px;
  width: fit-content;
  background-color: #2654d4;
  color: #ffffff;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.container
  .results-container
  .results
  .result-card:not(.choosed)
  .button-show:hover {
  background-color: #1f3f97;
  transition: linear 0.2s;
}

.container .results-container .results .results-quant {
  text-align: center;
  margin-bottom: 1rem;
}

/*         Map Styles           */

.container .map-container {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.container .map-container #map {
  position: absolute;
  height: 600px;
  width: 100%;
  border-radius: 8px;
  z-index: 10;
}

.container .map-container .map-bk-wall {
  position: absolute;
  height: 600px;
  width: 100%;
  z-index: 10;
  background-color: #4e4e4ebb;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.container .map-container .map-bk-wall.disabled {
  animation-name: animation-fade-out;
  animation-duration: 1s;
  opacity: 0;
  z-index: -1;
}

.container .map-container .map-bk-wall h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5rem;
  color: #f3f3f3;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;

  color: #2b2b2b;
  font-size: 1rem;
  background-color: #e9e9e9;
  margin-top: 3rem;
}

footer .fa-heart {
  margin-left: 5px;
  margin-right: 5px;
  color: #c01010;
}

/* Animations */

@keyframes animation-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes animation-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  header .title-page {
    color: #f3f3f3;
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 650px;
  }

  /*         Results Styles           */

  .container .results-container {
    height: 300px;
    margin-bottom: 2rem;
  }

  .container .results-container .results-msg-wall {
    height: 300px;
  }

  .container .results-container .results-msg-wall i {
    font-size: 4rem;
  }

  .container .results-container .results {
    height: 300px;
    padding: 1rem;
  }

  /*         Map Styles           */

  .container .map-container #map {
    height: 300px;
  }

  .container .map-container .map-bk-wall {
    height: 300px;
  }

  .container .map-container .map-bk-wall h3 i {
    transform: rotate(90deg);
  }
}
